# Updated by trungquandev.com's author on August 17 2023
# YouTube: https://youtube.com/@trungquandev
# "A bit of fragrance clings to the hand that gives flowers!"

JWT_SECRET_KEY=''
REFRESH_TOKEN_SECRET=''
MONGODB_URI=''
DATABASE_NAME=''
HOST_NAME='localhost'
PORT=8080
EMAIL_SERVICE=''
EMAIL_USER=''
EMAIL_PASS=''

